<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>@ViewBag.Title</title>
@Html.Partial("LayoutViews/_Styles")
@RenderSection("styles", required: false)
</head>

<body>
<section class="container">
<header>
<h1>@ViewBag.Title</h1>

@RenderSection("MenuSection", false)
</header>

@RenderBody()
</section>

@Html.Partial("LayoutViews/_Footer")
@Html.Partial("LayoutViews/_Scripts")
@RenderSection("scripts", required: false)
</body>
</html>