<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="@Url.Content("~/Images/logos/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    @Html.Partial("PartialViews/_Styles")
    @RenderSection("styles", false)
</head>

<body>
    <section class="jumbotron" id="start">
        <nav class="main-breadcrumb">
            <ul>
                <li>
                    <a class="logo" href="@Url.Content("~")"></a>
                </li>

                @RenderSection("breadcrumb", false)
            </ul>
        </nav>

        <nav class="links">
            <ul>
                <li><a href="http://truefitsolutions.com/#Buzz" target="_blank">News</a></li>
                <li><a href="http://truefitsolutions.com/#Contact" target="_blank">Contact</a></li>
            </ul>
        </nav>
    
        @RenderSection("headerSection", false)
    </section>

    @RenderBody()

    @Html.Partial("PartialViews/_Footer")
    @Html.Partial("PartialViews/_Scripts")
    @RenderSection("scripts", false)
</body>
</html>