@model TrueFitProjectTracker.Models.ProjectsListModel

@{
    ViewBag.Title = "TrueFit Innovations Project Tracker";
}

@section headerSection {
     <div class="row" id="search-header">
        <h2>Find your project&hellip;</h2>

        <div class="col-md-6 col-md-offset-3">
            <input class="form-control" id="search-box" placeholder="Search for your project here" type="text">
        </div>
    </div>
}

@section styles {
    @Styles.Render("~/Content/Home.css")
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#search-box").keydown(function () {
            var projects = $('#projects-list');
            var list = document.getElementsByClassName("list-group-item-heading");
            var search = $(this).val();
            var item = new Array();
            for (var i = 0; i < list.length; i++) {
                item[i] = $('#projects-list').children('a').eq(i);
                $('#projects-list').children('a').eq(i).show();
            }
            var counter = new Array();
            for (var i = 0; i < list.length; i++) {
                counter[i] = list[i].textContent.toString().toLowerCase().indexOf(search.toString().toLowerCase());
            }
            if (search.toString() == "") {
                for (var i = 0; i < list.length; i++) {
                    $('#projects-list').children('a').eq(i).show();
                }
                return;
            }
            for (var i = 0; i < list.length; i++) {
                $('#projects-list').children('a').eq(i).remove();
            }
               //HOLD FOR REFERENCE
               // if (list[i].textContent.toString().toLowerCase().indexOf(search.toString().toLowerCase()) >= 0) {
                    //$('#projects-list').children('a').eq(i).show("fast");
                    //$('#projects-list').children('a').eq(i).remove();
                    //$('#projects-list').prepend(item);
               // }
               // else{
                    //$('#projects-list').children('a').eq(i).remove();
                    //$('#projects-list').prepend(item);
                    //$('#projects-list').children('a').eq(i).hide("slow");
                //}



             var i = -1;
             var max = 0;
             for (var i = 0; i < counter.length; i++) {
                 if (counter[i] >= max) max = counter[i];
             }

            
             for(var i=max; i >= 0; i--) {
                 for (var j = 0; j < item.length; j++) {
                     if (counter[j] == i) {
                         if (counter[j] == -1) {
                             continue;
                         }
                         else {
                             $('#projects-list').prepend(item[j]);
                         }

                     }

                 }
             }
             for (var j = 0; j < item.length; j++) {
                 if (counter[j] == -1) {
                     $('#projects-list').append(item[j]);
                     $('#projects-list').children('a').eq(i).hide();
                 }
             }
        });
    });

    // when changed:
    // use item to hold the elements and counter to store the indexOf computations
    //remove all elements
    //swap elements in item, reappend. 
    /*for later: http://www.w3schools.com/jquery/jquery_slide.asp */
</script>

<section class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">...or select your project:</h3>
        </div>
        <div class="panel panel-text">
            <div id="projects-list">
                @foreach (TrueFitProjectTracker.Models.ProjectEntry entry in Model.projectsList)
                {
                    <a href="@Url.Action("Project", "Home", new { id = entry.Id, name = entry.ClientName })" data-project="stuff" class="list-group-item">
                        <h4 class="list-group-item-heading" id="entry-name">@(entry.Name) </h4>
                        <p class="list-group-item-text" id="project-number">Project Number: @(entry.Id) </p>
                        <p class="list-group-item-text" id="client-name">Client: @(entry.ClientName) </p>
                      
                    </a>
                }
            </div>
        </div>
    </div>
</section>











