@model TrueFitProjectTracker.Factories.Dashboard.ProjectFactory

@{
	int counter = 0;
	DateTime epoch = new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc); // Unix epoch
	int sprintCount = @Model.List.Where(x => x.State == "ACTIVE" || x.State == "FUTURE").Count();
	ViewBag.Title = @Model.Name;

	string CSSClass = "";
	string status = "";
}

@section headerSection {
    <div class="hero">
		<h2>@Model.Name</h2>

		<ul>
			<li class="birds-eye"><a href="#birds-eye-view">@Model.Percent% Complete</a></li>
			<li class="tasks"><a href="#story-details">@Model.Tasks.Remaining Open @(Model.Tasks.Remaining == 1 ? "Story" : "Stories")</a></li>
			<li class="bugs"><a href="#software-bugs">@Model.Bugs.Remaining Open @(Model.Bugs.Remaining == 1 ? "Bug" : "Bugs")</a></li>
			<li class="sprints"><a href="#sprints">@sprintCount @(sprintCount == 1 ? "Sprint Remains" : "Sprints Remain")</a></li>
		</ul>
    </div>
}

@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.1/highcharts.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.1/highcharts-more.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.1/modules/solid-gauge.js"></script>
	@Scripts.Render("~/Scripts/jQuery/dashboard.superpackage.min.js")

	<script>
		$(function() {
    	//Derive chart data
    		var bugBurnData = [@string.Join(",", Model.Bugs.Burndown.Data.ToArray())];
    		var bugBurnMonths = getMonthNamesFromMonthAndYear(@Model.Bugs.Burndown.Start.Item1, @Model.Bugs.Burndown.Start.Item2, @Model.Bugs.Burndown.End.Item1, @Model.Bugs.Burndown.End.Item2);

    		var bugDetailData = [@string.Join(",", Model.Bugs.RecentComplete.ToArray())]
    		var bugDetailDays = getDayNamesFromDayOfWeek(@((int)DateTime.Now.DayOfWeek));

    		var taskBurnData = [@string.Join(",", Model.Tasks.Burndown.Data.ToArray())];
    		var taskBurnMonths = getMonthNamesFromMonthAndYear(@Model.Tasks.Burndown.Start.Item1, @Model.Tasks.Burndown.Start.Item2, @Model.Tasks.Burndown.End.Item1, @Model.Tasks.Burndown.End.Item2);

    		var taskDetailData = [@string.Join(",", Model.Bugs.RecentComplete.ToArray())];
    		var taskDetailDays = getDayNamesFromDayOfWeek(@((int)DateTime.Now.DayOfWeek));

		//Build the charts
    		$('#compare-chart').progress(@Model.Percent);
        	$('#task-progress').rotary(@Model.Tasks.Percent, '#77E38C');
    		$('#bug-progress').rotary(@Model.Bugs.Percent, '#00D2FF');

    		$('#task-burndown').burndown(taskBurnData, taskBurnMonths, '#77E38C');
    		$('#task-recent-chart').recent(taskDetailData, taskDetailDays, '#77E38C');

    		$('#bug-burndown').burndown(bugBurnData, bugBurnMonths, '#00D2FF');
    		$('#bug-recent-chart').recent(bugDetailData, bugDetailDays, '#00D2FF');
        });
    </script>
}

@section Styles {
    @Styles.Render("~/Content/Project.min.css")
}

<section class="locker">
	<h2>@Model.Name</h2>

	<nav>
		<ul>
			<li><a href="#birds-eye-view">Bird's Eye View</a></li>
			<li><a href="#story-details">Stories</a></li>
			<li><a href="#software-bugs">Bugs</a></li>
			@if(Model.List.Count > 0) {
				<li><a href="#sprints">Sprints</a></li>
			}
		</ul>
	</nav>
</section>

<section class="container">
    <section class="center content no-border row">
		<div class="birds-eye content-area row">
			<div class="col-md-12">
				<a name="birds-eye-view"></a>
				<h2>Bird's Eye View</h2>
			</div>

			<div class="col-md-6">
				<section class="compare panel panel-default">
					<div class="panel-heading">Project Completion Status</div>

					<div class="panel-body">
						<div class="chart" id="compare-chart"></div>
						<div class="compare-details details">
							<h3>@Model.Percent<span>%</span></h3>
							<h4>of this project has been completed</h4>
						</div>
					</div>
				</section>
			</div>

			<div class="col-md-3">
				<section class="panel panel-default story-completion">
					<div class="panel-heading">Story Completion</div>

					<div class="panel-body">
						<div class="chart" id="task-progress"></div>
						<div class="details task-details">
							<h3>@Model.Tasks.Percent<span>%</span></h3>
							<h4>of the stories are finished</h4>
						</div>
					</div>
				</section>
			</div>

			<div class="col-md-3">
				<section class="bug-completion panel panel-default">
					<div class="panel-heading">Bug Completion</div>

					<div class="panel-body">
						<div class="chart" id="bug-progress"></div>
						<div class="bug-details details">
							<h3>@Model.Bugs.Percent<span>%</span></h3>
							<h4>of the bugs are closed</h4>
						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="content-area row tasks">
			<div class="col-md-12">
				<a name="story-details"></a>
				<h2>Story Details</h2>
			</div>

			@if(Model.Tasks.Total > 0) {
			<div class="col-md-9">
				<section class="panel panel-default task-burndown">
					<header>
						<h3>Story Burndown Chart</h3>
						<h4>A glance into the future showing how we plan to complete these stories</h4>
					</header>

					<div class="panel-body">
						<div class="burndown" id="task-burndown"></div>
					</div>
				</section>
			</div>

			<div class="col-md-3">
				<section class="panel panel-default task-totals">
					<div class="panel-heading">Totals</div>

					<div class="panel-body">
						<div class="col-md-12">
							<h4>@Model.Tasks.Completed</h4>
							<h5>Completed</h5>
						</div>
						<div class="col-md-12">
							<h4>@Model.Tasks.Remaining</h4>
							<h5>Remaining</h5>
						</div>
					</div>
				</section>

				<a href="http://truefitsolutions.com/#Contact" class="btn btn-block btn-success" role="button" target="_blank">Questions About our Progress?</a>
			</div>

			<div class="col-md-12">
				<div class="recent row">
					<h3>Stories Completed this Past Week</h3>

					<div class="col-md-12 recent-chart" id="task-recent-chart"></div>
				</div>
			</div>
			} else {
			<div class="empty"><h3>There aren't any tasks currently associated with this project.</h3></div>
			}
		</div>
		
		<div class="bugs content-area row">
			<div class="col-md-12">
				<a name="software-bugs"></a>
				<h2>Software Bugs</h2>
			</div>

			@if (Model.Bugs.Total > 0) {
			<div class="col-md-9">
				<section class="bug-burndown panel panel-default">
					<header>
						<h3>Bug Burndown Chart</h3>
						<h4>A glance into the future showing how we plan to resolve these bugs</h4>
					</header>

					<div class="panel-body">
						<div class="burndown" id="bug-burndown"></div>
					</div>
				</section>
			</div>

			<div class="col-md-3">
				<section class="bug-totals panel panel-default">
					<div class="panel-heading">Totals</div>

					<div class="panel-body">
						<div class="col-md-12">
							<h4>@Model.Bugs.Completed</h4>
							<h5>Completed</h5>
						</div>
						<div class="col-md-12">
							<h4>@Model.Bugs.Remaining</h4>
                            <h5>Remaining</h5>
                        </div>
                    </div>
                </section>

                <button class="btn btn-block btn-info" data-toggle="modal" data-target="#myModal">
                    Report a Bug
                </button>
			</div>

            <div class="col-md-12">
                <div class="bug-recent recent center row">
                    <h3>Bugs Resolved this Past Week</h3>

                    <div class="col-md-12 recent-chart" id="bug-recent-chart"></div>
                </div>
            </div>
			} else {
			<div class="empty"><h3>There aren't any bugs currently associated with this project.</h3></div>
			}
		</div>

		<div class="content-area row tasks">
			<a name="sprints"></a>
			<h2>All Sprints and Associated Stories</h2>

			<div class="carousel slide" data-interval="false" data-ride="carousel" id="task-scroller">
				<div class="carousel-inner">
				@foreach (TrueFitProjectTracker.Models.Dashboard.SprintModel sprint in Model.List) {
					<div class="@(counter == 0 ? "active " : "")item">
						<header>
							<h3>@sprint.Name</h3>

							<ul>
								<li class="@sprint.State.ToLower() state">@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@sprint.State.ToLower()) Sprint</li>
								@if (sprint.StartDate.CompareTo(epoch) == 0) {
								<li class="from">&lt;No date set&gt;</li>
								} else {
								<li class="from"><time datetime="@sprint.StartDate.ToString("yyyy-MM-dd")">@sprint.StartDate.ToString("MMMM dd, yyyy")</time></li>
								}
								@if (sprint.EndDate.CompareTo(epoch) == 0) {
								<li class="to">&lt;No date set&gt;</li>
								} else {
								<li class="to"><time datetime="@sprint.EndDate.ToString("yyyy-MM-dd")">@sprint.EndDate.ToString("MMMM dd, yyyy")</time></li>
								}
							</ul>
						</header>

						<ul class="task-list">
							@foreach (TrueFitProjectTracker.Models.Dashboard.TaskModel task in sprint.Tasks) {
							{
							// Use special rules to determine task completion:
							// https://confluence.atlassian.com/display/AGILE/Configuring+Columns#ConfiguringColumns-MappingColumnstoJIRAStatuses
	

							//Not started
								if (task.Status == "To Do" || task.Status == "Open" || task.Status == "Reopened") {
										CSSClass = "to-do";
										status = "To Do";
							//Complete
								} else if (task.Status == "Done" || task.Status == "Resolved" || task.Status == "Closed") {
										CSSClass = "complete";
										status = "Complete";
							//In progress
								} else if (task.Status == "In Progress") {
										CSSClass = "in-progress";
										status = "In Progress";
							//Unknown state
								} else {
									CSSClass = "unknown";
									status = "Unknown State";
								}
							}

							<li>
								<div class="@CSSClass">
									<h4>@task.Name</h4>
									<p>@task.Description</p>
									@if (task.DueDate.CompareTo(epoch) == 0) {
									<p class="due">Due: &lt;No date set&gt;</p>
									} else {
									<p class="due">Due: <time datetime="@task.DueDate.ToString("yyyy-MM-dd")">@task.DueDate.ToString("MMMM dd, yyyy")</time></p>
									}
									<p class="status">Status: @task.Status</p>
									<button class="btn btn-block btn-primary pane-close" type="button">Close</button>
									<span class="more">&hellip;</span>
								</div>
							</li>
							}
						</ul>
					</div>

					++counter;
				}

				</div>

				@if (counter > 1) {
				<ol class="carousel-indicators">
				@for (int i = 0; i < counter; ++i) {
					<li@(i == 0 ? " class=active" : "") data-slide-to="@i" data-target="#task-scroller"></li>
				}
				</ol>

				<a class="carousel-control left" data-slide="prev" href="#task-scroller">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>

				<a class="carousel-control right" data-slide="next" href="#task-scroller">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
				}
			</div>
		</div>
	</section>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
					<button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h3 class="modal-title">Report a Bug</h3>
                </div>

                <div class="modal-body">
                    <iframe id="bug-form" src="@Url.Action("ReportBug", "Home", new {Key = Model.Key})"></iframe>
                </div>

                <div class="modal-footer">
					<button class="btn btn-info" id="bug-submit" type="button">Create</button>
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>