@model TrueFitProjectTracker.Models.BugModel

@section styles{
       @Styles.Render("~/Content/Bug.css")
}
@{Layout = "";}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Issue</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Summary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Summary)
            @Html.ValidationMessageFor(model => model.Summary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Reporter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reporter)
            @Html.ValidationMessageFor(model => model.Reporter)
        </div>  
        <p>
            <input type="submit" class="btn btn-default" value="Create" />
        </p>
    </fieldset>
}
@*}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
