@model TrueFitProjectTracker.Models.BugModel

@{
    Layout = "~/Views/Shared/_BugLayout.cshtml";
}

@section scripts {
	<script src="//cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/languages/jquery.validationEngine-en.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/jquery.validationEngine.min.js"></script>

	<script>
		$(function() {
			$('form').validationEngine({
				autoHideDelay : 3000,
				autoHidePrompt : true,
				promptPosition : 'bottomLeft'
			})
		})
	</script>
}

@section styles {
	<link href="//cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/validationEngine.jquery.min.css" rel="stylesheet" />
}

@using (Html.BeginForm("ReportBug", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
	@Html.HiddenFor(model => model.ProjectKey, new { isHidden = true })

	<div class="form-group">
		 @Html.LabelFor(model => model.Summary)
		 @Html.TextBoxFor(model => model.Summary, new { autocomplete = "off",  @class = "form-control validate[required]" })
	</div>

	<div class="form-group">
		 @Html.LabelFor(model => model.Description)
		 @Html.TextAreaFor(model => model.Description, new { @class = "description form-control validate[required]" })
	</div>

    <div class="form-group">
		<label for="attachment">Attach a File (Optional, Max 2 MB)</label>
		<input name="attachment" type="file">
	</div>    
}